<!--<h1>SimplePages#index</h1>
<p>Find me in app/views/simple_pages/index.html.erb</p>
-->
<div class="container-fluid hero-main">
  <div class="main-caption">

  <%= image_tag("rsz_bigstock--170899592.jpg", class: "img-responsive hero-image")%>
  <div class="centered"><h1>Fresh meals delivered to your home.</h1>
  <h2>Get healthy meals on demand.</h2>
<div class:"hero-button-div"><button class="hero-button"type="button">Get Started</button></div>
</div>


  </div>
  </div>

<!--Process-->
<div class="container-fluid process" id="process">
  <div class="row process_inner">
    <div class="col-md-12 text-center" id="process_header">
      <h1>Healthy, but fast!</h1>
    </div>
    <div class="col-sm-4 text-center process_group">
      <div><%= image_tag("online-shop.png", class: "img-responsive process-images")%></div>
      <h3>Order Online</h3>
      <p>You choose your meals from our constantly rotating weekly menu of over 30
         different gluten-free options.</p>
    </div>
    <div class="col-sm-4 text-center process-group">
      <div><%= image_tag("delivery-man.png", class: "img-responsive process-images")%></div>
      <h3>Delivered to your door</h3>
      <p>All of your meals are prepared and cooked by our chefs and delivered fresh
         – never frozen.
      </p>
    </div>
    <div class="col-sm-4 text-center process-group">
      <div><%= image_tag("soup.png", class: "img-responsive process-images")%></div>
      <h3>You enjoy</h3>
      <p>Our fully prepared, healthy meals are ready in under 3 minutes.
        The only thing you need to do is enjoy.
      </p>
    </div>
  </div>
</div><!--end Process-->

<!--Menu-->
<div class="container-fluid process" id="process">
  <div class="row process_inner">
    <div class="col-md-12 text-center" id="process_header">
      <h1>Our Menu</h1>
    </div>
    <div class="col-sm-3 text-center process_group">

      <div><%= image_tag("chicken_frit.jpg", class:"img-responsive hero-image")%></div>
      <h3>Item 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="col-sm-3 text-center process-group">
      <div><%= image_tag("creamy_fish.jpg", class: "img-responsive hero-image")%></div>
      <h3>Item 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-sm-3 text-center process-group">
      <div><%= image_tag("lamb.jpg", class: "img-responsive hero-image")%></div>
      <h3>Item 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="col-sm-3 text-center process-group">
      <div><%= image_tag("pasta_spice.jpg", class: "img-responsive hero-image")%></div>
      <h3>Item 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div><!--end Menu-->
